* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 18px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.stats {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
  z-index: 2;
}

.stats-enemy {
  display: block;
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 3;
}

canvas {
  border: 1px solid #000;
}
